exportPattern("^[[:alpha:]]+")
export(calculate_AG)
export(calculate_AGR)
export(calculate_RGR)
export(calculate_SGR)
export(calculate_TGC)
export(calculate_FCR)
export(calculate_PER)
export(calculate_ADCdiet)
export(calculate_ADCnutr)
export(calculate_ADCingr)
export(calculate_geomWeight)
export(calculate_metabWeight)
